{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post" class="col-md-6">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <div class="text-danger">
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'productionorder_detail' productionorder.pk %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}